:root {
  .home-page-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin-top: 20%;
    .nav-btn {
      height: 5rem;
      line-height: 2.5rem;
      width: 10rem;
      background: #add8e6;
      padding: 1rem;
      text-decoration: none;
      color: #000;
      text-align: center;
    }
  }

  .ag-cell,
  .ag-header-cell-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
